
.arcwidth{
    width: 350px;
    text-align: center;
  }
  
  .arcunderside {
    font-size: 15px ;
    color: rgba(144, 144, 144, 1);
  }
   
  .arcunderside div{
    display: inline-block;
    color: rgba(253, 0, 84, 1);
    margin-left: 50px;
  }

  @media(max-width:400px){

    .arcwidth{
        width: 280px;
    }
  }
  