
.about{
  background-color: rgba(43, 32, 36, 1);
  
  margin-right:  250px;


}


.aboutspace{
  display: inline-block;
  width: 30px;
  border-top: 1px solid;
  margin-bottom: 10px;
  color: rgba(253, 0, 84, 1);
}
.pargcolor{
  color: gray;
  font-size: 14px;
  width: 300px;
}
.abouticon{
  
  color: rgba(253, 0, 84, 1);
}
.aboutbody{
  display: flex;
  justify-content: space-between;
}
.aboutleft{
  border-bottom: 2px solid white;
}

.phrgsize{
  font-size: 9px;
  
  display: inline;
  width: 65%;
}

.aboutbutt{
  justify-content: space-between;
}
.aboutbutt button{
  width: 33%;
  color: white ;
  font-size: 15px;
  background-color: rgba(253, 0, 84, 1); 
border: none;
outline: none;
}

.underside{
  width: 600px;
  position: relative;
}
.rightside{

  height:  550px;
  width: 400px;
  background-color: rgb(253, 0, 42) ;
}
.smallbox{
  position: absolute;
  top: 60%;
  right: 0;
padding: 20PX;
  background-color: rgba(253, 0, 84, 1) ;
}
.smallbox p{
  width: 70%;
  margin-left: 40px;
  color: white;
}
.smallbox span{
  margin-left: 40px;
}
.juscon{
  justify-content: space-between;
  display: flex;
}

@media (max-width:1200px){
.juscon{
  justify-content: center;
  flex-direction: column;
}
.about{
  width: 80%; 
  margin: 0;
}
.smallbox{
  background-color: salmon;
  width: 50%;
  
  right: 25%;
  top: 5%;
}

.underside{
  width: 80%; 
  margin: 0;
}

.rightside{
  width: 100%; 
  margin: 0;
  background-color: white;
}
}

@media (max-width:670px){
.about{
  
  margin: 0;
}

.aboutbody{
  flex-direction: column;

}


}